  code {
    white-space : pre-wrap !important;
    word-break: break-word;
    background: #c9e5dd6b !important; 
  }

  [data-dark-mode] code {
  	background: #213f3e !important;
  }

  .docs-toc {
    order: 1 !important;
  }

  .col-xl-3 {
    width: 24% !important;
    margin-right: 4rem;
    /*border-right: solid;*/
    border-right-color: #f4f4f4;
    border-right-width: 0.4px;
    background-color: #4ba48b12;
}

  .hljs {
  	background: #f3f3f3b8;
  }

  [data-dark-mode] .col-xl-3 {
    border-right-color: #424242;
    background-color: #21444321 !important;
}

  blockquote {
  	margin-top: 1rem;
    font-size: 0.96rem !important;
    border-left: 2px solid #4aa3a0 !important;
    padding-left: 1rem;
    background-color: #ddefeabf;
    padding-right: 15px;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding-bottom: 0.1em !important;
  }

[data-dark-mode] body blockquote {
  background-color: #213f3e;
  border-left: 2px solid #4aa3a0 !important;
  padding-right: 15px;
}

h3, .h3 {
  color: #1d2d35;
  font-size: 125% !important;
  margin-top: 1rem !important;
}

[data-dark-mode] h1, .h1, h3, .h3 {
  color: #4aa3a0;
}

[data-dark-mode] .btn.link {
  color: #b35fff;
}

h1, .h1 {
	font-size: 32px !important;
	font-weight: 500 !important;
  margin-top: 4rem !important;
}

h2, .h2 {
	font-size: 18px !important;
	font-weight: 400 !important;
}

details summary { 
  cursor: pointer;
}

details summary > * {
  display: inline;
}

details[open] summary > * {
  font-weight:600 !important;
  font-size: 1.55rem !important;
 /*color:#4aa3a0 !important;
  background-color: #f2f9f7;*/
  margin-top: 15px !important;
  margin-bottom: 25px !important;
}

details[open] details summary > * {
  font-size: 18px !important;
  font-weight: 400 !important;
}

details#level2[open] summary {
  margin-bottom: 12px;
}

details#level2 { 
  margin-left: 1.6rem;
}

details#level2 h3, .h3 { 
  font-size: 18px !important;
  font-weight: 400 !important;
}

details#level2[open] summary > * {
  font-weight:600 !important;
  font-size: 1.55rem !important;
}

summary:hover {
  background: #c9e5dd6b;
  border-radius: 6px;
}

[data-dark-mode] summary:hover{
  background:#213f3e;
  border-radius: 6px;
}

summary h2 {
  padding-left: 3px;
}

summary h1 {
  font-weight: 600 !important;
  font-size: 1.55rem !important;
  color: #dee2e6 !important;
  font-weight: 400 !important;
}

 #btnExpandHideAllDetails {
	height: 25px !important;
}

 #searchbtn {
	height: 25px !important;
}

 input:checked + label {
   background:black;
   color:white;
 }
 
  input:checked + .body {
   background:black;
   color:white;
 }

.page-links a {
	padding-top: 0 !important;
  padding-left: 3px !important;
}

.page-links li:hover {
  background-color: #c0e5df;
  color: #4aa3a0;
  border-radius: 6px;
}

[data-dark-mode] .page-links li:hover {
  background-color: #213f3e;
  color: #4aa3a0;
  border-radius: 6px;
}

/*
.page-links li {
	font-weight: 600;
	font-size: 1rem !important;
}*/

.page-links li ul li {
	font-size: 0.86rem !important;
	font-weight: 400;
}

.toc p { 
	line-height: 10px !important;
}

.toc a {
	color: #961fa5;
	font-size: 87%;/*
	margin-left: 30px;
	text-decoration: underline;*/
}

/* Tooltip container */
.tooltip {
  position: relative !important;
  display: inline !important;
  border-bottom: 1px dotted grey !important; /* If you want dots under the hoverable text */
  opacity: 1 !important;
  font-size: 1.1rem !important;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 520px;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.page-links li:not(:first-child) {
    border-top: none !important;
}
